*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Waveview/nbproject/private/
/eduDSP/build/
/eduDSP/.nb-gradle/profiles/private/
/eduDSP/nbproject/private/
/eduDSP/dist/
/JavaFXApplication2/nbproject/private/
/waveview/.nb-gradle/private/
/waveview/build/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/